{% set active_page = active_page|default('index') -%}
<!DOCTYPE html>
<html lang="en">
    {% include 'layouts/_head.html' %}
    <body>

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        {% include 'layouts/_navbar.html' %}
      </nav>

      <div class="container-fluid">
        <div class="main">
          <!-- {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
          {% endif %}
          {% endwith %} -->
          {% block body %}{% endblock %}
        </div>
      </div>
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
       <!-- <script src="{{ url_for('static', filename='js/sysinfos.js') }}"></script> -->
    </body>
    </html>
