{% extends "layout.html" %}
{% set active_page = "overview" %}
{% block body %}
<h1 class="page-header">Dashboard</h1>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">System infos</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr><th>Time</th><td id="time">{{ NetTime }}</td></tr>
					<tr><th>Temperature</th><td id="temperature">{{ temperature }} °C</td></tr>
					<tr><th>Last reboot</th><td id="lastReboot">{{ lastReboot }}</td></tr>
				</table>
			</div>
		</div></div>
		<div class="col-md-4"><div class="panel panel-default">
			<div class="panel-heading">
			<h3 class="panel-title">Network infos</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr><th>LAN IP Address</th><td>{{ LanIPaddress }}</td></tr>
					<tr><th>WAN IP Address</th><td>{{ WanIPaddress }}</td></tr>
					<tr><th>Mac address</th><td>{{ macAddress }}</td></tr>
				</table>
			</div>
		</div></div>
	</div>

	{% endblock %}