{% extends "layout.html" %}
{% set active_page = "playground" %}
{% block body %}
<h1 class="page-header">Playground</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Have fun with GPIO !</h3>
  </div>
  <div class="panel-body">
	<form role="form" class="form-inline">
		<div class="form-group">
			<select id="wiringPiPin" class="form-control">
			<option value="" selected disabled>WiringPi pin</option>
			{% for pin in wiring_pin_list %}
				<option value="{{ pin }}">{{ pin }}</option>
			{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<select id="wiringPiState" class="form-control">
			<option value="" selected disabled>Outpute state</option>
			{% for state in wiring_pin_states %}
				<option value="{{ state.value }}">{{ state.label }}</option>
			{% endfor %}
			</select>
		</div>
		<input type="button" name="go" value="Go!" class="btn btn-primary" onClick="digitalWrite()">

		<script type="text/javascript">
		
		function digitalWrite()
		{
			//var e = document.getElementById("MySelectOption");
			//var strUser = e.options[e.selectedIndex].value;
			var wiringPiPin = document.getElementById("wiringPiPin").value;
		  	var wiringPiState = document.getElementById("wiringPiState").value;
			if ( wiringPiPin && wiringPiState ){
		  		window.location='{{ url_for('playground') }}/wiring/'+ wiringPiPin +'/'+ wiringPiState;
			}
			else {
				alert('wrong parameters');
			}
		}

		// jQuery style
		/*
		    $(function(){
		      // bind change event to select
		      $('#dynamic_select').bind('change', function () {
		          var url = $(this).val(); // get selected value
		          if (url) { // require a URL
		              window.location = url; // redirect
		          }
		          return false;
		      });
		    });
		*/

		</script>
	</form>
  </div>
 </div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pins states </h3>
  </div>
  <div class="panel-body">
    <table class="table table-condensed table-bordered table-striped">
    	<tr><th>WiringPi pin</th><th>GPIO</th><th>Name</th><th>Header P1</th><th>Header P1</th><th>Name</th><th>GPIO</th><th>WiringPi pin</th></tr>
    	<tbody>
    		<tr><td></td><td></td><td>3V3</td><td>1</td><td>2</td><td>5V</td><td></td><td></td></tr>
    		<tr><td>8</td><td>Rv1:0 - Rv2:2</td><td>SDA</td><td>3</td><td>4</td><td>5V</td><td></td><td></td></tr>
    		<tr><td>9</td><td>Rv1:1 - Rv2:3</td><td>SCL</td><td>5</td><td>6</td><td>0V</td><td></td><td></td></tr>
    		<tr><td>7</td><td>4</td><td>GPIO7</td><td>7</td><td>8</td><td>TxD</td><td>14</td><td>15</td></tr>
    		<tr><td></td><td></td><td>0V</td><td>9</td><td>10</td><td>RxD</td><td>15</td><td>16</td></tr>
    		<tr><td>0</td><td>17</td><td>GPIO0</td><td>11</td><td>12</td><td>GPIO1</td><td>18</td><td>1</td></tr>
    		<tr><td>2</td><td>Rv1:0 - Rv2:2</td><td>GPIO2</td><td>13</td><td>14</td><td>0V</td><td></td><td></td></tr>
    		<tr><td>3</td><td>22</td><td>GPIO3</td><td>15</td><td>16</td><td>GPIO4</td><td>23</td><td>4</td></tr>
    		<tr><td></td><td></td><td>3.3V</td><td>17</td><td>18</td><td>GPIO5</td><td>24</td><td>5</td></tr>
    		<tr><td>12</td><td>10</td><td>MOSI</td><td>19</td><td>20</td><td>0V</td><td></td><td></td></tr>
    		<tr><td>13</td><td>9</td><td>MISO</td><td>21</td><td>22</td><td>GPIO6</td><td>25</td><td>6</td></tr>
    		<tr><td>14</td><td>11</td><td>SCLK</td><td>23</td><td>24</td><td>CE0</td><td>8</td><td>10</td></tr>
    		<tr><td></td><td></td><td>OV</td><td>25</td><td>26</td><td>CE1</td><td>7</td><td>11</td></tr>
    	</tbody>
    </table>
  </div>
</div>



{% endblock %}